.contact{
    color: white;
    font-size: 3rem;
    text-decoration: underline;
}
.mainBox1{
    margin-top: 1rem;
    background-color: #355e3b;
}
.mainBox2{
    margin-top: 1rem;
    background-color: #10242a;
}
