.contact{
    color: white;
    font-size: 3rem;
    text-decoration: underline;
}
.mainBox1{
    margin-top: 4rem;
    background-color: #355e3b;
}
.mainBox2{
    margin-top: 4rem;
    background-color: #132b33;
}
