.contact{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
.mainBox1{
    margin-top: 1rem;
    background-color: #355e3b;
}
.mainBox2{
    margin-top: 1rem;
    background-color: #10242a;
}
