.skillMain{
    margin-bottom: 4rem;
    padding-top: 1rem;
}
.logo_img_box {
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 50%;
    transition: transform 0.6s ease-in-out; 
}
.img:hover {
    transform: scale(1.2);
    cursor: grab;
}
.head{
    text-decoration: underline;
    margin-bottom: 1rem;
    font-size: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.para{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
}

