.light-mode{
  text-align: center;
  font-family: "Alegreya", serif;
  background: radial-gradient(circle, rgb(241, 183, 182) 0%, rgba(240,240,240,1) 48%, rgba(161,211,221,1) 100%);
  color: #355e3b;
}
.dark-mode{
  text-align: center;
  font-family: "Alegreya", serif;
  color: #ffffff;
  background: radial-gradient(circle, rgba(3,0,36,1) 0%, rgba(69,100,113,1) 42%, rgba(3,25,31,1) 100%);
}


