.App {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  background: radial-gradient(circle, rgb(241, 183, 182) 0%, rgba(240,240,240,1) 48%, rgba(161,211,221,1) 100%);
  color: #355e3b;
}


